<div class="container">

  <!--****************************Product-nav: Child to parent****************************-->
  <app-products-nav (pEventEmitter)="onReceiveEvent($event)"></app-products-nav>

  <div class="container overflow-hidden p-3 mt-4 shadow-lg p-3 mb-5 bg-white rounded">
    <!--****************************Product-nav: Child to parent & parent to child********-->
    <app-products-list (pEventEmitter)="onReceiveEvent($event)" [products$]="products$"></app-products-list>  
  </div>
</div>
